extends ../../layout
block content
	.row
		.span1
			&nbsp;
		.span8
			div#create-post.form
				form#post(action="create",method="post")
					fieldset
						div.control-group 
							label.control-label(for="title") Título
							input#title(name="title",type="text", placeholder="título del post",required)
						div
							label(for="abstract") Resumen
							textarea#abstract.resumen(name="abstract",type="text", placeholder="resumen del post",required)
						div
							label(for="body") Articulo
							textarea#body(name="body",type="text",placeholder="artículo principal",required)
						div
							label(for="author") Autor
							input#author(name="author",type="text",required)
						div
							label(for="image-url") Imagen Url
							input#image-url(name="imageUrl",type="text",required)
						div
							input(name="submit",type="submit",value="Enviar",class="btn btn-large btn-primary")
							input(id="cancel-create",type="button",value="Cancelar",class="btn btn-large btn-primary")
		.span2
			include ../../side
block scripts
	script(type='text/javascript',src="/js/post.js")