<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="item active">
      <img src="http://lorempixel.com/1170/450/nature" alt="">
      <div class="carousel-caption caption-right">
      <h2 class="carousel-caption-heading">Carousel Title 1</h2>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>
  </div>
  <!-- Slide 2 -->
  <div class="item">
    <img src="http://lorempixel.com/1170/450/business" alt="">
    <div class="carousel-caption caption-left">
      <h2 class="carousel-caption-heading">Carousel Title 2</h2>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>
  </div>
  <!-- Slide 3 -->
  <div class="item">
    <img src="http://lorempixel.com/1170/450/people" alt="">
    <div class="carousel-caption">
      <h2 class="carousel-caption-heading">Carousel Title 3</h2>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>
  </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
  <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
  <span class="icon-next"></span>  
  </a>
</div> <!-- /.carousel -->