.row
	.span1  
	#content.span10
		#main.row
			.span8
				#masonry.row.masonry(style='position: relative; height: 892px; overflow: hidden;')
					#post-20.span4.col.masonry-brick(style='position: absolute; top: 0px; left: 0px;')
						h1
							a(href='http://je-veux-un-job.com/theme/thepaper/?p=20', data-original-title='') Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi
						.meta
							em
								i.icon-calendar(data-original-title='')
								| Posted on:
							| April 9th, 2012
							em by
							| admin
							a.comments-link(href='http://je-veux-un-job.com/theme/thepaper/?p=20#respond', data-original-title='Comment on Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi') No Comments
						.entry
							a.thumbnail.span2.imgPress(href='http://je-veux-un-job.com/theme/thepaper/wp-content/uploads/2012/04/5-199x300.jpg', data-original-title='Click to enlarge')
								img(src='http://je-veux-un-job.com/theme/thepaper/wp-content/uploads/2012/04/5-199x300.jpg')
							p
								| Vivamus feugiat pretium orci, vel auctor quam tristique sed. Aenean quis posuere purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris id turpis enim. Aenean dictum ornare eros. Suspendisse enim odio, pretium non iaculis elementum, dictum a lorem. Ut tempus dolor sed ante mollis viverra.  Vivamus quis lacus nulla, sed [...]
						.postmetadata
							i.icon-tag(data-original-title='')
							| Posted in
							a(href='http://je-veux-un-job.com/theme/thepaper/?cat=1', rel='category', data-original-title='View all posts in Uncategorized') Uncategorized
							| |
							a(href='http://je-veux-un-job.com/theme/thepaper/?p=20#respond', data-original-title='Comment on Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi') No Comments »
			.span2
				#sidebar
					#search-2.widget.widget_search
					#recent-posts-2.widget.widget_recent_entries
						h2 Recent Posts
						ul
							li
								a(href='http://je-veux-un-job.com/theme/thepaper/?p=20', data-original-title='Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi') Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi
							li
								a(href='http://je-veux-un-job.com/theme/thepaper/?p=16', data-original-title='Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi') Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi
							li
								a(href='http://je-veux-un-job.com/theme/thepaper/?p=13', data-original-title='Consectetur adipiscing elit') Consectetur adipiscing elit
							li
								a(href='http://je-veux-un-job.com/theme/thepaper/?p=10', data-original-title='Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi') Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi
							li
								a(href='http://je-veux-un-job.com/theme/thepaper/?p=1', data-original-title='Hello world!') Hello world!
					#recent-comments-2.widget.widget_recent_comments
						h2 Recent Comments
						ul#recentcomments
							li.recentcomments
								a.url(href='http://pedaaa', rel='external nofollow', data-original-title='') pedroaaa
								| on
								a(href='http://je-veux-un-job.com/theme/thepaper/?p=16#comment-5', data-original-title='') Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi
							li.recentcomments
								a.url(href='http://55', rel='external nofollow', data-original-title='') 555
								| on
								a(href='http://je-veux-un-job.com/theme/thepaper/?p=16#comment-4', data-original-title='') Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi
							li.recentcomments
								a.url(href='http://fdsfds', rel='external nofollow', data-original-title='') sdfsd
								| on
								a(href='http://je-veux-un-job.com/theme/thepaper/?p=16#comment-2', data-original-title='') Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi
							li.recentcomments
								a.url(href='http://wordpress.org/', rel='external nofollow', data-original-title='') Mr WordPress
								| on
								a(href='http://je-veux-un-job.com/theme/thepaper/?p=1#comment-1', data-original-title='') Hello world!
					#archives-2.widget.widget_archive
						h2 Archives
						ul
							li
								a(href='http://je-veux-un-job.com/theme/thepaper/?m=201204', data-original-title='April 2012') April 2012
					#categories-2.widget.widget_categories
						h2 Categories
						ul
							li.cat-item.cat-item-1
								a(href='http://je-veux-un-job.com/theme/thepaper/?cat=1', data-original-title='View all posts filed under Uncategorized') Uncategorized
					#meta-2.widget.widget_meta
						h2 Meta
						ul
							li
								a(href='http://je-veux-un-job.com/theme/thepaper/wp-login.php', data-original-title='') Log in
							li
								a(href='http://je-veux-un-job.com/theme/thepaper/?feed=rss2', data-original-title='Syndicate this site using RSS 2.0')
									| Entries
									abbr(title='Really Simple Syndication') RSS
							li
								a(href='http://je-veux-un-job.com/theme/thepaper/?feed=comments-rss2', data-original-title='The latest comments to all posts in RSS')
									| Comments
									abbr(title='Really Simple Syndication') RSS
							li
								a(href='http://wordpress.org/', data-original-title='Powered by WordPress, state-of-the-art semantic personal publishing platform.') WordPress.org