footer
	nav
		ul.nav
			li.hide
				a(href="#splash", title="") El Guaycu
			li
				a(href="#news", title="") Noticias
			li
				a(href="#gallery", title="") Fotos
			li
				a(href="#events", title="") Eventos
			li
				a(href="#who-we-are", title="") La gente
			li.active
				a(href="#help", title="") Colaborar
			li
				a(href="http://guaycu.org", target="_blank") Wiki
			li
				a(href="http://blog.partidodelared.org", target="_blank") Blog
	div.last-line (CC) 2013 CLUB ATLETICO GUAYCURU - SAN LUIS, ARGENTINA