head
  title Bootstrap 101 Template
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
  link(rel="stylesheet", href="/css/typekit.css")
  link(rel="stylesheet", href="/css/styles.css")