<% include head %>
<!-- offcanvas content wrapper -->
<div class="oc-wrapper">

  <% include nav %>
  <div class="container">

    <!-- Carousel
    ================================================== -->
    <% include carousel  %>

    <hr>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>This is a great welcome message
        <br />
        <small>And a small text to tell something</small></h1>
      </div>
    </div>
    <hr>
    <h3>Fotos</h3>
    <div class="row gallery effect-4">
      <div class="col-sm-3 col-xs-6">
        <div class="thumbnail">
          <a href="#">
            <img src="/img/image-placeholder.png">
          </a>
          <div class="caption">
            <h4>Picture title</h4>
            <a href="#" class="btn btn-primary btn-sm">Take a look</a>
          </div>          
        </div>
        <br>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="/img/image-placeholder.png">
          <div class="caption">
            <h4>Picture title</h4>
            <a href="#" class="btn btn-primary btn-sm">Take a look</a>
          </div>
        </div>
        <br>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="/img/image-placeholder.png">
          <div class="caption">
            <h4>Picture title</h4>
            <a href="#" class="btn btn-primary btn-sm">Take a look</a>
          </div>          
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="/img/image-placeholder.png">
          <div class="caption">
            <h4>Picture title</h4>
            <a href="#" class="btn btn-primary btn-sm">Take a look</a>
          </div>          
        </div>
      </div>
    </div>
    <hr>
    <!-- Testimonial / Twitter / Gallery -->
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="lead">Testimonial</p>
          <div id="testimonialCarousel" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#testimonialCarousel" data-slide-to="1"></li>
              <li data-target="#testimonialCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <!-- Slide 1 -->
              <div class="item active">
                <div class='testimonial'>
                  <blockquote>
                    Lorem ipsum sit dolor ares ameit. This could be a blockquote. Lorem ipsum dolor sit amet, consectetur adipisci diam.
                  </blockquote>
                  <p class='testimonial-footer'>
                    <img class="img-thumbnail" src="/img/image-placeholder-64x64.png" height="64" width="64" >
                    <b>John Doe</b> &mdash; designer
                  </p>
                </div>
              </div>
              <!-- Slide 2 -->
              <div class="item">
                <div class='testimonial'>
                  <blockquote>
                    Lorem ipsum sit dolor ares ameit. This could be a blockquote. Lorem ipsum dolor sit amet, cona imperdiet diam.
                  </blockquote>
                  <p class='testimonial-footer'>
                    <img class="img-thumbnail" src="/img/image-placeholder-64x64.png" height="64" width="64" >
                    <b>John Doe</b> &mdash; designer
                  </p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#testimonialCarousel" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#testimonialCarousel" data-slide="next">
            <span class="icon-next"></span>  
            </a>
          </div>  
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <p class="lead">Twitter</p>
        <div id="tweet2" class="tweet"></div>
      </div>
      <div class="clearfix visible-sm visible-xs"></div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <p class="lead">Flickr</p>
        <div class="flickr-feed clearfix">
          <script src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08"></script>
        </div>
      </div>
    </div>

    <!-- Footer
    ================================================== -->
    <footer class="text-center">
      <hr>
      <p><a href="#"><em class="icon-chevron-up"></em></a></p>
      <p>2013 &copy; All rights reserved.</p>
      <br>
    </footer>

  </div>
  <!-- /container -->

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <% include scripts %>

  <script type="text/javascript">
		$(function() {
			$('#homeslider').carousel();
		});
  </script>

</div> <!-- /ocwrapper -->
<% include footer %>