section#home.home.section(style='height: 401px;')
	.section-title
		.section-content(style='opacity: 1;')
			p asdasd asd asd asdasd
		a.btn.btn-kickstarter(href='http://wiki.partidodelared.org/index.php/D%C3%B3nde_firmar_como_Adherente', target='_blank') Sumate y firmá tu adhesión
		a.share-twitter(target='_blank', href='')
			span.flaticon.social.twitter
			span Compartilo en Twitter
	a.arrow-down(href='#members')
		i