extends layout
block content
	.row
		.span1
			&nbsp;
		#content.span10
			include main
			.row
				.span10.footer
					.row
						.span2
							a.addthis_button_facebook.share.fb.at300b(href='#', data-original-title='facebook', title='Facebook')
								span.at16nc.at300bs.at15nc.at15t_facebook.at16t_facebook
									span.at_a11y Share on facebook
							a.addthis_button_twitter.share.tt.at300b(href='#', data-original-title='twitter', title='Tweet')
								span.at16nc.at300bs.at15nc.at15t_twitter.at16t_twitter
									span.at_a11y Share on twitter
							a.share.rss(href='http://je-veux-un-job.com/theme/thepaper/?feed=rss2', data-original-title='rss feed')  
						.span6
							.navigation
								.next-posts
									a(href='http://je-veux-un-job.com/theme/thepaper/?paged=2', data-original-title='') « Older Entries
								.prev-posts
						.span2
							#footer
								| ©
								| 2013 The Paper
		.span1
			&nbsp;
