doctype 5
html
	head
		title Bootstrap 101 Template
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
		link(rel="stylesheet", href="/css/custom.css")
	body
		include header
		block content
		script(type='text/javascript', src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(type='text/javascript', src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js")
		script(type='text/javascript', src="js/index.js")
		include footer

html(lang='en-US')
	head
		script(type='text/javascript', src='//s7.addthis.com/static/r07/auth014.js')
		link(rel='stylesheet', type='text/css', href='//s7.addthis.com/static/r07/widget115.css', media='all')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title
			| The Paper - Just another WordPress site
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='http://je-veux-un-job.com/theme/thepaper/wp-content/themes/the-paper/style.css', type='text/css')
		link(rel='pingback', href='http://je-veux-un-job.com/theme/thepaper/xmlrpc.php')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js?ver=3.5.1')
		style(type='text/css')
			.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
		style(type='text/css')
	body.home.blog
		#page-wrap.container
			include header
			include content
			include footer
				.span1  
		//
			 Don't forget analytics 
		//
			 modal 
		#myModal.modal
			.modal-header
				a.close(data-dismiss='modal', data-original-title='') ×
				h3#imgTitle
				img#modalImg.span4.thumbnail(src='')
		a.hide(href='http://html5-ninja.com', data-original-title='HTML5 Ninja - Sell & buy HTML5 items') HTML5 ninja
		//
			 Le javascript
			================================================== 
		script(type='text/javascript', src='http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f820d3055f081b2')
		#_atssh(style='visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;')
			iframe#_atssh667(title='AddThis utility frame', style='height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;', src='//s7.addthis.com/static/r07/sh134.html#iit=1375754948210&tmr=load%3D1375754947874%26core%3D1375754947968%26main%3D1375754948208%26ifr%3D1375754948211&cb=0&cdn=0&chr=UTF-8&kw=&ab=-&dh=je-veux-un-job.com&dr=http%3A%2F%2Fwrapbootstrap.com%2Fpreview%2FWB00L3968&du=http%3A%2F%2Fje-veux-un-job.com%2Ftheme%2Fthepaper%2F&dt=The%20Paper%20-%20Just%20another%20WordPress%20site&dbg=0&md=0&cap=tc%3D0%26ab%3D0&inst=1&irt=1&jsl=1&prod=undefined&lng=es-419&ogt=&pc=men&pub=xa-4f820d3055f081b2&ssl=0&sid=52005ac311e70a95&srpl=0.00001&srcs=0&srd=0.1&srf=0.02&srp=0.2&srl=1&srx=1&ver=300&xck=0&xtr=0&og=&rev=122424&ct=1&xld=1&xd=1')
		script(type='text/javascript', src='http://s7.addthis.com/static/r07/core089.js')
		//
			 AddThis Button END 
		//
			 Placed at the end of the document so the pages load faster 
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='http://je-veux-un-job.com/theme/thepaper/wp-content/themes/the-paper/js/jquery.validate.min.js')
		script(src='http://je-veux-un-job.com/theme/thepaper/wp-content/themes/the-paper/js/jquery.masonry.min.js')
		script(src='http://je-veux-un-job.com/theme/thepaper/wp-content/themes/the-paper/bootstrap/js/bootstrap.min.js')
		script(src='http://je-veux-un-job.com/theme/thepaper/wp-content/themes/the-paper/js/scripts.js')
