extends layout

block content
	header.site-header.clearfix
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
					h1
						a(href='#splash', title='Partido De La Red') Partido De La Red
						.social
					a.flaticon.social.facebook(target='_blank', href='http://facebook.com/partidodelared', title='')
					a.flaticon.social.twitter(target='_blank', href='http://twitter.com/partidodelared', title='')
					ul.nav.nav-collapse.collapse
						li.hide
							a(href='#splash', title='') Somos Red
						li
							a(href='#argentina', title='') Propuesta
						li
							a(href='#democracia', title='') Democracia
						li
							a(href='#manifiesto', title='') Manifiesto
						li
							a(href='#quienes-somos', title='') Pares
						li.active
							a(href='#colaborar', title='') Colaborar
						li
							a(href='http://wiki.partidodelared.org/index.php/Página_principal', target='_blank') Wiki
						li
							a(href='http://blog.partidodelared.org', target='_blank') Blog
	section#splash.splash.section(style='height: 289px;')
		.section-title
			.section-content(style='opacity: 1;')
				p
			a.btn.btn-kickstarter(href='http://wiki.partidodelared.org/index.php/D%C3%B3nde_firmar_como_Adherente', target='_blank') Sumate y firmá tu adhesión
			a.share-twitter(target='_blank', href='')
				span.flaticon.social.twitter
				span Compartilo en Twitter
		a.arrow-down(href='#argentina')
			i
	section#quienes-somos.who-we-are.section.clearfix
		.section-title
				img(src='/images/icons/icon-4.png')
				h2 Pares De La Red
				.clearfix
					p.description.left
						| Desde Mayo de 2012, un grupo de emprendedores de la sociedad civil, la tecnología, la política, educadores y comunicadores se juntan como pares para debatir y llevar adelante el Partido de la Red con el objetivo de instalar la Democracia en Red como sistema de gobierno.
					p.description.right
						| Es a partir de aquellas reuniones que el proyecto cobra vida y nos impusimos como meta presentarnos a elecciones distritales y al mismo tiempo, impulsar el desarrollo del software que permita llevar directamente la voz de cada ciudadano a su parlamento correspondiente.
			.members.clearfix
				a(target='_blank', href='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/223159_10200745606075378_1520427714_n.jpg', data-original-title='')
					img(src='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/223159_10200745606075378_1520427714_n.jpg')
				a(target='_blank', href='https://www.facebook.com/photo.php?fbid=10200745606075378&set=p.10200745606075378&type=1&source=11', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/1146215924/Foto_personal2_reasonably_small.jpg')
				a(target='_blank', href='http://twitter.com/AlexCDG', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3747856374/fa7793ac7f58bb2564a7875ca3f2b47a_reasonably_small.png')
				a(target='_blank', href='http://twitter.com/gvilarino', data-toggle='popover', data-html='true', data-content='El software que usa el @PartidodelaRed se codea escuchando Metal!!', data-title='Guido Vilariño', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/1201114878/avatarguido_reasonably_small.jpg')
				a(target='_blank', href='http://twitter.com/Yugoslava', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/393116798/tw_reasonably_small.JPG')
				a(target='_blank', href='http://twitter.com/santisiri', data-toggle='popover', data-html='true', data-content='@marianolopata @PartidodelaRed leí el libro de Nassim Taleb en su momento, es genial la metáfora.', data-title='Santiago Siri', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3579418265/d5994d07aa630dba45b7c7fe6acea9dc_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/asewrjugin', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/1065360871/Ale-Imagen-SES_reasonably_small.jpg')
				a(target='_blank', href='http://twitter.com/mgalanternik', data-toggle='popover', data-html='true', data-content='@Sanchez_pablo_e @Se_Bass Para participar del @PartidodelaRed escribinos a eventos@partidodelared.org para anotarte en charlas informativas', data-title='Martin Galanternik', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/378800000172075169/502818ba65c9d80572e0fd9470fcb7fc_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/alan_reid', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/378800000039995365/a7e999e11b525a7d68d765567ce39ad0_reasonably_small.png')
				a(target='_blank', href='http://twitter.com/miguelsantosw', data-toggle='popover', data-html='true', data-content='Show time folks!	http://t.co/wjzlf4XexT cc @PartidodelaRed', data-title='Miguel Santos', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2601024927/84o6yk9001ischhqschy_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/nickypeisa', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3783128837/764e1c7aa0127826e51322bcf75eeca6_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/ultraklon', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2638813709/60c8a6cefcbd6dcac85c2aed9308a9d1_reasonably_small.png')
				a(target='_blank', href='http://twitter.com/CarlosMarch', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/1724951040/caricatura_reasonably_small.jpg')
				a(target='_blank', href='http://twitter.com/Pablo_Charnas', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3686036241/45de30f4e2bf02fe8ebc1d34c3f95c01_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/annagramma', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3499987710/4db50c7efcb64248afdd3c8c5428f0c1_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/TacchellaSergio', data-toggle='popover', data-html='true', data-content='@PartidodelaRed @santisiri "La red es el hito tecnológico de nuestro tiempo". Muy bueno todo el artículo!', data-title='Sergio Tacchella', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/378800000082928784/8ec0ff3990efcbbf8ffb15c06ae30db5_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/apintofplain', data-toggle='popover', data-html='true', data-content='La genial nota sobre el @PartidodelaRed en Brando, ahora online http://t.co/INKYChAgEp', data-title='Luke Mohnen', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/378800000194855635/a0ceb038a3ef804845d7a9975f01229b_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/tomasinsua', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3094966624/ab38fa0841a63c2c1e92c5efda6fea6f_reasonably_small.png')
				a(target='_blank', href='http://twitter.com/agustinfrizzera', data-toggle='popover', data-html='true', data-content='"mañana, crecimiento exponencial" @marinamendez @PartidodelaRed @lanacioncom @santisiri @piamancini @ebrenman', data-title='Agustin Frizzera', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/1817645384/af_reasonably_small.jpg')
				a(target='_blank', href='http://twitter.com/Seba_Inthebox', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/378800000124102462/213f93badf98de1bb4a7b620fe2f30ce_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/ValenNobile', data-toggle='popover', data-html='true', data-content='Participá del desarrollo de la primera plataforma de Democracia en Red del país? #partidodelared @partidodelared http://t.co/AiBpVPzZ4z', data-title='Valentina Nobile', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/1522453068/IMG_7727_reasonably_small.JPG')
				a(target='_blank', href='http://twitter.com/juanib82', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2796118274/8b459ecefbdf0a18ba75ceeec5886064_reasonably_small.png')
				a(target='_blank', href='http://twitter.com/lulimbo', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3302933588/40b0d106e630700bcf447b616ed5370a_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/gonluce', data-toggle='popover', data-html='true', data-content='@bilinkis muuuy bueno! @PartidodelaRed tienen que mirar esto jaja', data-title='Gonzalo Lucero', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2176942609/375606_3550610406065_1296755049_3537403_2080351417_n_reasonably_small.jpg')
				a(target='_blank', href='http://twitter.com/GAastt', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2849055942/6def0b445e1136548a76fae2fd7fd6ba_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/nautasudamerica', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2293901189/nautas_reasonably_small.jpg')
				a(target='_blank', href='http://twitter.com/marinamendez', data-toggle='popover', data-html='true', data-content='@zanoni @PartidodelaRed :)', data-title='Mar Mendez', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/378800000230269953/9f1462a43ac70dd452b024342aa27649_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/mariasolgs', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3464434344/134b86864844f3cd4151bf6500ddc76b_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/marianolopata', data-toggle='popover', data-html='true', data-content='En este momento Leyendo sobre la Teoría del Cisne Negro http://t.co/t9YrvhxCTd y pensando en el @PartidodelaRed como caso. @santisiri', data-title='Mariano Lopata', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3490878270/1396a7879011f1b3d400b5eac3aee766_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/mffc76', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/1939055556/ata_copia_reasonably_small.jpg')
				a(target='_blank', href='http://twitter.com/cristiandouce', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2866908502/4eb6cb01200c9fb5d55d10ad3a7790c5_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/JuicyMinerva', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2873507293/2c2f98ea155d01e56906778c760e049b_reasonably_small.png')
				a(target='_blank', href='http://twitter.com/felipemuni', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3410519616/1210c604a6d0469a444e476d2c81815f_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/NadiaCeache', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3330653158/337b2c57f84ca7afeb2bd8fe84c232f9_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/nmaschwitz', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/672825052/IMG_2979_reasonably_small.JPG')
				a(target='_blank', href='http://twitter.com/en256bits', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2491385296/1ziyexobwwlg2zqblr5a_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/ebrenman', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2717903918/2e9acfade7ce4cbf10fa7d5250a9a72f_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/gonza_arguello', data-toggle='popover', data-html='true', data-content='Nuestro sistema de representatividad tiene serios problemas. Necesitamos dinamizarlo, revitalizarlo. Con la Red podemos. @PartidodelaRed', data-title='gonza argツello', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/1226574726/Gonza-banio_2_reasonably_small.jpg')
				a(target='_blank', href='http://twitter.com/piamancini', data-toggle='popover', data-html='true', data-content='este domingo hay charla del @PartidodelaRed ! veni a discutir ideas, no personas! anotate en eventos@partidodelared.org', data-title='pia mancini', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2929777312/f7b77beb1804d76922be519c8be8eb17_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/lucasworsel', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/378800000183777052/575c6798576b9707c3eb11bfc7eddf3e_reasonably_small.png')
				a(target='_blank', href='http://twitter.com/donpowa', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3425002820/257f83e762e5a7ae012dee23486ea396_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/palabrasdehumo', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/1062103432/20090203232129-fuego-y-humo_reasonably_small.jpg')
				a(target='_blank', href='http://twitter.com/pipirubeis', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/378800000107158321/ad38212e7b2ddb3c4512bfcf42bc7f88_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/gerotutu', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2311906686/p8S31MCS_normal')
				a(target='_blank', href='http://twitter.com/gravityonmars', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/2583335118/yts2np89ifncbi0j3vgm_reasonably_small.jpeg')
				a(target='_blank', href='http://twitter.com/tantalentejuela', data-original-title='')
					img(src='http://a0.twimg.com/profile_images/3359361758/4368e07d1b934419d1434f9c69124122_reasonably_small.png')
			.join-the-team
				p
					span Si te interesa participar del equipo del Partido De La Red 
					a.btn.btn-join(href='#myModal', role='button', data-toggle='modal') Dejanos tus datos para sumarte
				#myModal.modal.hide.fade
					.modal-header
						h3 Sumate al partido
					.modal-body
						form#subForm.form-horizontal(action='http://gravityonmars.createsend.com/t/r/s/jdlliyj/', method='post')
							.control-group
								label.control-label(for='name') Nombre:
								.controls
									input#name(type='text', name='cm-name')
							.control-group
								label.control-label(for='lastname') Apellido:
								.controls
									input#lastname(type='text', name='cm-f-ydkhhiu')
							.control-group
								label.control-label(for='jdlliyj-jdlliyj') Email:
								.controls
									input#jdlliyj-jdlliyj(type='text', name='cm-jdlliyj-jdlliyj')
							.control-group
								label.control-label(for='Localidad') Localidad:
								.controls
									select(name='cm-fo-ydkhdui')
										option(value='3698109') Capital Federal
										option(value='3698110') Gran Buenos Aires
										option(value='3698111') Otros
							p
								input.btn.btn-sumate-ahora(type='submit', value='Sumate ahora!')
				p