section#members.members.section.clearfix
	.section-title
		.members.clearfix
			a(target='_blank', href='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/223159_10200745606075378_1520427714_n.jpg', data-original-title='')
				img(src='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/223159_10200745606075378_1520427714_n.jpg')
			a(target='_blank', href='https://www.facebook.com/photo.php?fbid=10200745606075378&set=p.10200745606075378&type=1&source=11', data-original-title='')
				img(src='http://a0.twimg.com/profile_images/1146215924/Foto_personal2_reasonably_small.jpg')
			a(target='_blank', href='http://twitter.com/tantalentejuela', data-original-title='')
				img(src='http://a0.twimg.com/profile_images/3359361758/4368e07d1b934419d1434f9c69124122_reasonably_small.png')
		.join-the-team
			p
				span Si te interesa participar del equipo del Partido De La Red 
				a.btn.btn-join(href='#myModal', role='button', data-toggle='modal') Dejanos tus datos para sumarte
			#myModal.modal.hide.fade
				.modal-header
					h3 Sumate al partido
				.modal-body
					form#subForm.form-horizontal(action='http://gravityonmars.createsend.com/t/r/s/jdlliyj/', method='post')
						.control-group
							label.control-label(for='name') Nombre:
							.controls
								input#name(type='text', name='cm-name')
						.control-group
							label.control-label(for='lastname') Apellido:
							.controls
								input#lastname(type='text', name='cm-f-ydkhhiu')
						.control-group
							label.control-label(for='jdlliyj-jdlliyj') Email:
							.controls
								input#jdlliyj-jdlliyj(type='text', name='cm-jdlliyj-jdlliyj')
						.control-group
							label.control-label(for='Localidad') Localidad:
							.controls
								select(name='cm-fo-ydkhdui')
									option(value='3698109') Capital Federal
									option(value='3698110') Gran Buenos Aires
									option(value='3698111') Otros
						p
							input.btn.btn-sumate-ahora(type='submit', value='Sumate ahora!')
			p