<nav class="navbar navbar-default" role="navigation">
	<div class="container navbar-menu">
		<div class="">
		<!-- Brand and toggle get grouped for better mobile display -->
		    <a class="navbar-brand" href="index">
		    	<img height="100" src="/img/logo-small.jpg"/>
		    	<font>SPORTING CLUB GUAY-CURU</font>
		    </a>
	    </div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle oc-toggle" data-target="#oc-navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- offcanvas navbar -->
		<div class="nav-collapse oc-navbar"  id="oc-navbar">
			<!-- Menu right shadow -->
			<div class="oc-shadow"></div>
			<!-- slideback container -->
			<ul class="nav navbar-nav onhover navbar-right oc-container" >
				<!-- offcanvas menu CLOSE button -->
				<li class="text-right">
				    <em class="icon-remove icon-2x oc-close"></em>
				</li>
				<li><a href="home">Home</a></li>
				<li><a href="portfolio">Photos</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Noticias<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="blog">Post List</a></li>
						<li><a href="blog-detail">Post Details</a></li>
					</ul>
				</li>
				<li><a href="about">About</a></li>
				<li><a href="contact">Contacto</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>
