.navbar.navbar-fixed-top
	.navbar-inner
		.container.branding
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='/', title='Home - Mekonta web design') Mekonta
			.nav-collapse
				ul.nav
					li
						a(href='/about', title='About Mekonta - Hard Working Web Design') About
					li
						a(href='/work', title='View our portfolio of web design and development') Our Work
					li
						a(href='/services', title='Web design and development services') Services
					li
						a(href='/blog', title='Articles on Web Design and online services') Articles
					li
						a(href='/contact', title='Contact us') Contact