extends layout

block content
	.container
		.row
			.span12.hawge_p
				p.clr_b
					| It's actually quite easy to build a website. What's difficult, and relies on years of experience, is designing a good or, better still, a great website.
		.row
			.span8
				.row
					#steps_list.span8
						h1
							span.tk-bello-pro How We Do
							br
							span.clr_mg Hard Working Web Design
						.row
							.span1
								i 1.
							.span7
								h2 The First Steps
								img(src='/img/core/steps_icon-1.png', alt='Starting your new website project')
								p We sit down and talk to you about
								ul
									li what your business does
									li how	it does it
									li ways you're planning to develop your business
									li how customers are using your website
									li
										| how you'd
										em like
										| customers to be using your website
								p
									| This is our staring point for understanding the requirements of your new Hard Working website.
						.row
							.span1
								i 2.
							.span7
								h2 Everything in Its Right Place
								img(src='/img/core/steps_icon-2.png', alt='Planning Content and Information Architecture on your website')
								p
									em a.k.a : information architecture
								p
									| In collaboration with you, we put the site content into a hierarchy and map the logical flow through the site by your users.
								p
									| This helps users find the content they want, which ensures a positive experience that they're more likely to want to repeat.
						.row
							.span1
								i 3.
							.span7
								h2 Laying the Foundations
								img(src='/img/core/steps_icon-3.png', alt='Planning your new website')
								p
									| We create some
									em bare bones
									| web pages. There's no content, colour or graphic design - just outlines to show where content will sit and how users will navigate through these sections.
								p
									| It helps to see these underlying frameworks without the distraction of subjective elements such as colour choices or imagery.
						.row
							.span1
								i 4.
							.span7
								h2 The Presentation Layer
								img(src='/img/core/steps_icon-4.png', alt='The web design process')
								p
									em We know, we know
									| - this is what you've been really wanting to see from the start! But we believe that the best design is about how things
									em work
									| , not just how they look.
								p
									| Now we know how the site is going to
									em work
									| , we can do a better job of the graphic design. This will reflect your company branding, personality and create an enjoyable experience for your visitors.
						.row
							.span1
								i 5.
							.span7
								h2 Wiring It In
								img(src='/img/core/steps_icon-5.png', alt='Development stage for your bespoke website')
								p
									| At this point we have a well structured and beautifully presented set of website templates. Now it's time to hook it up to a Content Management System (CMS). This brings all the interactive and dynamic features to life. It also gives you the tools to add content to the site yourselves through a user-friendly control panel.
						.row
							.span1
								i 6.
							.span7
								h2 Fill Her Up
								img(src='/img/core/steps_icon-6.png', alt='Loading content onto your new website')
								p We will give you access to the CMS to get started adding your content.
								p
									| It's the perfect way for you to become familiar with the website and to test all the pages as you publish your content.
						.row
							.span1
								i 7.
							.span7
								h2 Hello World
								img(src='/img/core/steps_icon-7.png', alt='Marketing your new website')
								p
									| Sadly it's not quite as easy as
									em "build it and they will come"
									| . Once it's launched you might want to tell the World about your fantastic new website.
								p
									| We can give expert advice on ongoing SEO (Search Engine Optimisation), paid advertising, strategic email campaigns, copywriting or bespoke consultancy servcies.
								p
									a(href='/services/marketing', title='Website Marketing Services') More about our website marketing services
									| .
			.span4.svc_nav
				h3.clr_mg.tk-bello-pro Our Services
				ul.unstyled
					li.process.current
						a(href='/services', title='Our Web Design Process') Our Work Process
					li.mobile
						a(href='/services/mobile', title='Web design for mobile') Design for Mobile
					li.marketing
						a(href='/services/marketing', title='Online Marketing Services') Online Marketing
			#steps_aside.span4
				img.hwwd_i_c.mnd(src='img/core/hwwd_icon.png', alt='Hard Working Web Design')
				p
					| While these steps are critical for us in delivering innovative, bespoke, websites - what really marks us out is our core company ethos.
				p
					| We describe ourselves as friendly, honest & open people to work with. The single term we hope to distance ourselves from is
					em bureaucracy
					| . (And we pay more than passing lip service to ensure this happens).
				p
					| Our customers appreciate this. It ensures projects move easily with friendly communication and no unexpected add-ons or hidden costs.
		include footer