#sidebar
	#search-2.widget.widget_search
	#recent-posts-2.widget.widget_recent_entries
		h2 Recent Posts
		ul
			each post, i in lastPosts
				li
					a(href='http://je-veux-un-job.com/theme/thepaper/?p=20', data-original-title='#{post.title}') #{post.title}
	#recent-comments-2.widget.widget_recent_comments
		h2 Recent Comments
		ul#recentcomments
			li.recentcomments
				a.url(href='http://pedaaa', rel='external nofollow', data-original-title='') pedroaaa
				| on
				a(href='http://je-veux-un-job.com/theme/thepaper/?p=16#comment-5', data-original-title='') Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi
			li.recentcomments
				a.url(href='http://55', rel='external nofollow', data-original-title='') 555
				| on
				a(href='http://je-veux-un-job.com/theme/thepaper/?p=16#comment-4', data-original-title='') Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi
			li.recentcomments
				a.url(href='http://fdsfds', rel='external nofollow', data-original-title='') sdfsd
				| on
				a(href='http://je-veux-un-job.com/theme/thepaper/?p=16#comment-2', data-original-title='') Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi
			li.recentcomments
				a.url(href='http://wordpress.org/', rel='external nofollow', data-original-title='') Mr WordPress
				| on
				a(href='http://je-veux-un-job.com/theme/thepaper/?p=1#comment-1', data-original-title='') Hello world!
	#archives-2.widget.widget_archive
		h2 Archives
		ul
			li
				a(href='http://je-veux-un-job.com/theme/thepaper/?m=201204', data-original-title='April 2012') April 2012
	#categories-2.widget.widget_categories
		h2 Categories
		ul
			li.cat-item.cat-item-1
				a(href='http://je-veux-un-job.com/theme/thepaper/?cat=1', data-original-title='View all posts filed under Uncategorized') Uncategorized
	#meta-2.widget.widget_meta
		h2 Meta
		ul
			li
				a(href='http://je-veux-un-job.com/theme/thepaper/wp-login.php', data-original-title='') Log in
			li
				a(href='http://je-veux-un-job.com/theme/thepaper/?feed=rss2', data-original-title='Syndicate this site using RSS 2.0')
					| Entries
					abbr(title='Really Simple Syndication') RSS
			li
				a(href='http://je-veux-un-job.com/theme/thepaper/?feed=comments-rss2', data-original-title='The latest comments to all posts in RSS')
					| Comments
					abbr(title='Really Simple Syndication') RSS
			li
				a(href='http://wordpress.org/', data-original-title='Powered by WordPress, state-of-the-art semantic personal publishing platform.') WordPress.org