#sidebar
	#search-2.widget.widget_search
	#recent-posts-2.widget.widget_recent_entries
		h2 Recent Posts
		ul
			each post, i in lastPosts
				li
					a(href='/?p=20', data-original-title='#{post.title}') #{post.title}
	#recent-comments-2.widget.widget_recent_comments
		h2 Recent Comments
		ul#recentcomments
			li.recentcomments
				a.url(href='http://pedaaa', rel='external nofollow', data-original-title='') pedroaaa
				| on
				a(href='http://je-veux-un-job.com/theme/thepaper/?p=16#comment-5', data-original-title='') Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi
	#categories-2.widget.widget_categories
		h2 Categories
		ul
			li.cat-item.cat-item-1
				a(href='http://home/cat=1', data-original-title='View all posts filed under Uncategorized') Uncategorized