extends layout

block content
	.container
		.row
			.span12
				p.hawge_p.hawge_lead
					| Building websites is an inspirational mix of creativity & technical knowledge. Conveniently, this is what we do best. We're passionate about getting the balance spot on, to create stunning websites for you and your customers.
		.row
			.span12.col2
				p
					| We're a web design agency in Exeter, Devon. Our expertise is in designing user friendly websites with as much technical functionality as you need to meet your business demands.
				p
					| Where necessary we can build custom functionality into the heart of your website. In the past this has included ecommerce, job boards, complex member areas, online tests, intranets and postcode/address finders.
				p
					| As website functionality becomes more complex, the best of them are also getting easier to use. We work hard to ensure our work follows this pattern.
		include footer