body
{
  background-image: url("/img/guaycu.jpg"); 
  background-repeat:no-repeat;
  background-attachment:fixed;
}

div.oc-wrapper
{
  background-color: white;
  margin-left: 70px;
  margin-right: 70px;
}

.navbar-default
{
  border-bottom-style: solid;
border-bottom-color: red;
}

.navbar-nav
{
  margin-top: 50px;
}

.navbar-brand
{
  padding-top: 5px;
  padding-bottom: 5px;
}

hr
{
  border-color: red;
}