body
{
  background-image: url("/img/background.png");
  background-repeat:no-repeat;
  background-color: black;
  background-size: 1500px 1676px;
  /*background-attachment:fixed;*/
  margin-left: 200px;
  margin-right: 200px;
}

div.container
{
  background-color: white;
  padding-top: 10px;
  border-radius: 5px;

}

img
{
  border-radius: 5px;
}

div.oc-wrapper
{
  background-color: transparent;
  margin-left: 70px;
  margin-right: 70px;
}

.navbar-default, .navbar-default div
{
  background-color: transparent;
  border-color: transparent;
  /*border-bottom-style: solid;
  border-bottom-color: red;*/
}

.navbar-nav
{
  margin-top: 50px;
}

.navbar-brand
{
  padding-top: 5px;
  padding-bottom: 5px;
}

hr
{
  border-color: red;
}

div.row
{
  margin-bottom: 50px;
}