@import url("bootstrap/bootstrap.css");
@import url("theme.css");
@import url("bootstrap/bootstrap-responsive.css");

#post textarea {
	width: 100%;
	height: 150px;
}

#post textarea.resumen {
	height: 80px;
}

#post input[type="text"] {
	width: 50%;
}