@import url("bootstrap.css");
@import url("theme.css");
@import url("bootstrap-responsive.css");

#post textarea {
	width: 100%;
	height: 150px;
}

#post textarea.resumen {
	height: 80px;
}

#post input[type="text"] {
	width: 50%;
}

table {
	margin: 20px;
}

.form {
	padding: 20px;
}

.btn {
	margin-right: 20px;
}

body {
	background-image: url("/img/guaycu.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
}

div#content.span8 {
	width: 970px;
}

#posts {
	width: 900px;
}