section#gallery.gallery.section
	.section-title
	.videos
		a.video.florencia(data-target='#florencia', data-toggle='modal', href='/video/C7Z7Q2qmuoc')
			i
			span #Conciencia
		#florencia.modal.hide.fade(style='display: none;', aria-hidden='true')
			.modal-body
				iframe(width='560', height='315', src='http://www.youtube.com/embed/C7Z7Q2qmuoc', frameborder='0', allowfullscreen='allowfullscreen')
		a.video.lucia(data-target='#lucia', data-toggle='modal', href='/video/u7TRRGvLkr8')
			i
			span #cooperar
		#lucia.modal.hide.fade(style='display: none;', aria-hidden='true')
			.modal-body
				iframe(width='560', height='315', src='http://www.youtube.com/embed/u7TRRGvLkr8', frameborder='0', allowfullscreen='allowfullscreen')
		a.video.santiago(data-target='#santiago', data-toggle='modal', href='/video/VvDybmxxIQ4')
			i
			span #DemocraciaEstancada
		#santiago.modal.hide.fade(style='display: none;', aria-hidden='true')
			.modal-body
				iframe(width='560', height='315', src='http://www.youtube.com/embed/VvDybmxxIQ4', frameborder='0', allowfullscreen='allowfullscreen')
		a.video.esteban(data-target='#esteban', data-toggle='modal', href='/video/Fkl5J61Pm9c')
			i
			span #Ideas
		#esteban.modal.hide.fade(style='display: none;', aria-hidden='true')
			.modal-body
				iframe(width='560', height='315', src='http://www.youtube.com/embed/Fkl5J61Pm9c', frameborder='0', allowfullscreen='allowfullscreen')
		a.video.guido(data-target='#guido', data-toggle='modal', href='/video/Fec7DW45CJA')
			i
			span #Informacion
		#guido.modal.hide.fade(style='display: none;', aria-hidden='true')
			.modal-body
				iframe(width='560', height='315', src='http://www.youtube.com/embed/Fec7DW45CJA', frameborder='0', allowfullscreen='allowfullscreen')
		a.video.pia(data-target='#pia', data-toggle='modal', href='/video/syDaoqdMcZI')
			i
			span #DemocraciaEnRed
		#pia.modal.hide.fade(style='display: none;', aria-hidden='true')
			.modal-body
				iframe(width='560', height='315', src='http://www.youtube.com/embed/syDaoqdMcZI', frameborder='0', allowfullscreen='allowfullscreen')
		a.video.lucas(data-target='#lucas', data-toggle='modal', href='/video/s_uQZGzCxGg')
			i
			span #Dialogo
		#lucas.modal.hide.fade
			.modal-body
		a.video.martin(data-target='#martin', data-toggle='modal', href='/video/fghHqAPaxuU')
			i
			span #DemocraciaEstancada
		#martin.modal.hide.fade(style='display: none;', aria-hidden='true')
			.modal-body
				iframe(width='560', height='315', src='http://www.youtube.com/embed/fghHqAPaxuU', frameborder='0', allowfullscreen='allowfullscreen')
		a.video.nicole(data-target='#nicole', data-toggle='modal', href='/video/KLUN5pXOIJc')
			i
			span #Instituciones
		#nicole.modal.hide.fade
			.modal-body
		a.video.brenda(data-target='#brenda', data-toggle='modal', href='/video/4YQXCMkvvSM')
			i
			span #Comunidad
		#brenda.modal.hide.fade
			.modal-body
		a.video.agustin(data-target='#agustin', data-toggle='modal', href='/video/PzhmbcvRZpk')
			i
			span #Ciudadano
		#agustin.modal.hide.fade
			.modal-body
		a.video.valentina(data-target='#valentina', data-toggle='modal', href='/video/33u8U0czJoQ')
			i
			span #Franqueza
		#valentina.modal.hide.fade
			.modal-body
		a.video.sebastian(data-target='#sebastian', data-toggle='modal', href='/video/PtVwu9HiAPc')
			i
			span #Transparencia
		#sebastian.modal.hide.fade
			.modal-body
		a.video.santis(data-target='#santis', data-toggle='modal', href='/video/vSrl30RuHwM')
			i
			span #Participacion
		#santis.modal.hide.fade
			.modal-body
		a.video.gonzalo(data-target='#gonzalo', data-toggle='modal', href='/video/XTHpiw_2V4w')
			i
			span #Empatia
		#gonzalo.modal.hide.fade
			.modal-body
		a.video.mariano(data-target='#mariano', data-toggle='modal', href='/video/u6dvu_pJQbU')
			i
			span #Derechos
		#mariano.modal.hide.fade
			.modal-body
		a.video.felipe(data-target='#felipe', data-toggle='modal', href='/video/L16NZJyY19o')
			i
			span #Red
		#felipe.modal.hide.fade
			.modal-body
		a.video.francisco(data-target='#francisco', data-toggle='modal', href='/video/oAyAeQSbeuQ')
			i
			span #Pares
		#francisco.modal.hide.fade
			.modal-body
		a.video.pablo(data-target='#pablo', data-toggle='modal', href='/video/hP8MPLKrNPU')
			i
			span #InteligenciaColectiva
		#pablo.modal.hide.fade
			.modal-body
		a.video.ricardo(data-target='#ricardo', data-toggle='modal', href='/video/A-mwOr6ZlTA')
			i
			span #SoftwareLibre
		#ricardo.modal.hide.fade(style='display: none;', aria-hidden='true')
			.modal-body
				iframe(width='560', height='315', src='http://www.youtube.com/embed/A-mwOr6ZlTA', frameborder='0', allowfullscreen='allowfullscreen')
	.clearfix.align-center