.row
	.span1
		&nbsp;
	#header.span10
		.row
			.span4
				h1
					a(href='http://je-veux-un-job.com/theme/thepaper/', data-original-title='') Guaycurú
				p El Club de mi vida!!!
		.navbar
			.navbar-inner
				.container
					a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse', data-original-title='')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					.nav-collapse
						ul.nav
							li.active
								a(href='/', data-original-title='')
									i.icon-home.icon-white(data-original-title='')
									| Home
					.nav-collapse
						ul.nav
							li.page_item.page-item-2
								a(href='/gallery', data-original-title='') Galería
					.nav-collapse
						ul.nav
							li.page_item.page-item-2
								a(href='/admin/post/', data-original-title='') Admin
					.nav-collapse
						form#searchform(action='http://je-veux-un-job.com/theme/thepaper', method='get')
							ul.nav.pull-right
								li
									i.icon-search(data-original-title='Type your search here & press enter')
									input#s.span3(type='text', name='s', placeholder='Type your search here & press enter…')
					//
						/.nav-collapse 
	.span1