doctype 5
html(lang='en-US')
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title
			| The Paper - Just another WordPress site
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='http://je-veux-un-job.com/theme/thepaper/wp-content/themes/the-paper/style.css', type='text/css')
		link(rel='pingback', href='http://je-veux-un-job.com/theme/thepaper/xmlrpc.php')
		link(rel='alternate', type='application/rss+xml', title='The Paper » Feed', href='http://je-veux-un-job.com/theme/thepaper/?feed=rss2')
		link(rel='alternate', type='application/rss+xml', title='The Paper » Comments Feed', href='http://je-veux-un-job.com/theme/thepaper/?feed=comments-rss2')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js?ver=3.5.1')
		style(type='text/css')
			.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
		style(type='text/css')
	body.home.blog
		#page-wrap.container
			include nav
			block content
		modal
			#myModal.modal
				.modal-header
					a.close(data-dismiss='modal', data-original-title='') ×
					h3#imgTitle
					img#modalImg.span4.thumbnail(src='')
			a.hide(href='http://html5-ninja.com', data-original-title='HTML5 Ninja - Sell & buy HTML5 items') HTML5 ninja
			//

		#_atssh(style='visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='http://je-veux-un-job.com/theme/thepaper/wp-content/themes/the-paper/js/jquery.validate.min.js')
		script(src='http://je-veux-un-job.com/theme/thepaper/wp-content/themes/the-paper/js/jquery.masonry.min.js')
		script(src='http://je-veux-un-job.com/theme/thepaper/wp-content/themes/the-paper/bootstrap/js/bootstrap.min.js')
		script(src='http://je-veux-un-job.com/theme/thepaper/wp-content/themes/the-paper/js/scripts.js')